@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 100% 92%;
    --foreground: 279 20% 15%;
    --card: 276 100% 92%;
    --card-foreground: 279 20% 15%;
    --popover: 276 100% 92%;
    --popover-foreground: 279 20% 15%;
    --primary: 279 69% 61%;
    --primary-foreground: 276 100% 98%;
    --secondary: 276 30% 88%;
    --secondary-foreground: 279 20% 15%;
    --muted: 276 30% 88%;
    --muted-foreground: 279 10% 45%;
    --accent: 194 71% 59%;
    --accent-foreground: 279 20% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 50% 85%;
    --input: 276 50% 85%;
    --ring: 279 69% 61%;
    --chart-1: 279 20% 15%;
    --chart-2: 279 69% 61%;
    --chart-3: 276 30% 88%;
    --chart-4: 194 71% 59%;
    --chart-5: 212.7 26.8% 83.9%;
    --radius: 1.5rem;
  }
 
  .dark {
    --background: 279 10% 10%;
    --foreground: 0 0% 98%;
    --card: 279 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 279 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 100% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 279 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 279 10% 18%;
    --muted-foreground: 279 5% 65%;
    --accent: 194 71% 59%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 10% 22%;
    --input: 279 10% 22%;
    --ring: 340 100% 48%;
    --chart-1: 0 0% 98%;
    --chart-2: 340 100% 48%;
    --chart-3: 279 10% 18%;
    --chart-4: 194 71% 59%;
    --chart-5: 47.9 95.8% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .floating-text {
    transform-style: preserve-3d;
    animation: float 12s ease-in-out infinite;
  }
}